/* reset */
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,dt,dd,th,td,button,input,form,img{ padding: 0; margin: 0; color: #333; font-family: 'Microsoft YaHei', Helvetica;}
html,body{-webkit-text-size-adjust: 100%; background-color: #fff; -webkit-overflow-scrolling: touch;width:100%;height:100%}
html *{ -webkit-tap-highlight-color: transparent;}
a{ color: #333; text-decoration: none;}
img,textarea{ border: 0; vertical-align: middle}
ul,ol,li{ list-style: none;}
i,em{ font-style: normal }
table{ border-spacing: none; border-collapse: collapse;}
button,input[type=text],input[type=password],select,textarea{ box-sizing: border-box; -webkit-appearance: none;}
.clearfix:after{ content: ''; display: block; height: 0; clear: both; visibility: hidden;}
.text-red {color: #f04f48;}
.blue-text,.text-blue{ color: #10bad1 !important;}
.text-black{ color: #000;}
.m-section{ position: relative; background-position: top center; background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover; overflow: hidden;}
.f-right{float:right;}

.o-bg1{ background-color: #e2ebf1; height:8.32rem;}
.o-bg2{ background-color: #25293c; height:11.4rem;}
.o-bg3{ background-color: #25293c; height:10.947rem  /* 821/75 */;}

.i-bg1 { width:100%;height:100%  /* 1334/75 */;background-position: bottom center; background: #cfcfcf url("../images/bg.jpg") no-repeat bottom center;
 background-size: 100%;overflow-y:scroll; }
.i-bg1 .header-box{width:10rem;height:13.2rem  /* 990/75 */;position:relative;}
.i-bg1 .header-box img{width:10rem;height:12.133rem  /* 910/75 */;}
.i-bg1 .header-box img{width:10.227rem  /* 767/75 */;height:13.04rem  /* 978/75 */;}
.i-bg1 .header-box .praise{width:2.413rem  /* 181/75 */;height:0.76rem  /* 57/75 */;position: absolute;
 right:1.6rem  /* 120/75 */;bottom:1.067rem  /* 80/75 */;}

.i-bg1 .content-box {width:8.093rem  /* 605/75 */;margin:0 auto;  /* 990/75 */; }
.i-bg1 .content-box .btn-box{width:8.093rem  /* 605/75 */;height:1.12rem  /* 84/75 */;padding-bottom:0.267rem  /* 20/75 */;}
.i-bg1 .content-box .btn-box img{width:3.72rem  /* 279/75 */ /* 605/75 */;height:1.12rem  /* 84/75 */;}

.i-bg1 .content-top-box {width:8.093rem  /* 607/75 */ ;height:0.4rem  /* 30/75 */;background-size: 8.093rem 0.4rem;}
.i-bg1 .content-middle-box {width:8.093rem  /* 605/75 */;background: url("../images/miBg.png") repeat-y  center; background-size: contain;}
.i-bg1 .content-middle-box .zan-box{width:7.333rem  /* 550/75 */; margin:0 auto; border-bottom: 1px solid rgba(255, 255, 255, 0.3)}
.i-bg1 .content-middle-box .zan-box .zan-left-box{width:0.467rem  /* 35/75 */;height:1rem  /* 75/75 */;float:left;}
.i-bg1 .content-middle-box .zan-box .zan-left-box img{width:0.373rem  /* 28/75 */;height:0.36rem  /* 27/75 */ ;float:left;}
.i-bg1 .content-middle-box .zan-box .zan-right-box {width:6.8rem  /* 515/75 */ ;float:left}
.i-bg1 .content-middle-box .zan-box .zan-right-box img{width:0.747rem  /* 56/75 */;height:0.747rem  /* 56/75 */; float:left;margin-left:0.19rem  /* 10/75 */ /* 20/75 */;
 margin-bottom:0.267rem  /* 20/75 */; border-radius: 0.067rem  /* 5/75 */;}

.i-bg1 .content-middle-box .comment-box{width:7.333rem  /* 550/75 */; margin:0 auto;}
.i-bg1 .content-middle-box .comment-box .comment-left-box{width:0.533rem  /* 40/75 */;height:1rem  /* 75/75 */;float:left;}
.i-bg1 .content-middle-box .comment-box .comment-left-box img{width:0.373rem  /* 28/75 */ ;height:0.4rem  /* 30/75 */;margin-top:0.267rem  /* 20/75 */;}
.i-bg1 .content-middle-box .comment-box .comment-right-box{float:left;width:6.667rem  /* 500/75 */;}
.i-bg1 .content-middle-box .comment-box .comment-right-box .input-box{font-size:0.267rem  /* 20/75 */;line-height: 1rem  /* 75/75 */;}
.i-bg1 .content-middle-box .comment-box .comment-right-box .input-box .liuyan-text{font-size:0.267rem ;color:#fff;font-weight:bold}
.i-bg1 .content-middle-box .comment-box .comment-right-box .input-box input{background: none;border:none;width:4.667rem  /* 350/75 */}
.comment-list{width:6.667rem  /* 500/75 */;}
.comment-list li{width:6.667rem  /* 500/75 */;border-bottom: 0.013rem  /* 1/75 */ solid rgba(255, 255, 255, 0.3);padding: 0.267rem  /* 20/75 */ 0;}
.comment-list li img{border-bottom: 1px solid rgba(255, 255, 255, 0.3);width:0.747rem  /* 56/75 */;
 height:0.747rem  /* 56/75 */; float:left; margin:0 0.133rem  /* 10/75 */ 0.133rem  /* 10/75 */ 0.133rem  /* 10/75 */ /* 20/75 */}
.comment-list li .text-box{width:5.6rem  /* 420/75 */;float:left;word-break: break-all;}
.comment-list li .text-box h1{font-size:0.32rem  /* 24/75 */;color:#d4bb93;font-weight: bold;}
.comment-list li .text-box p{font-size:0.267rem  /* 20/75 */;color:#e6e6e6;}
#sendcomment{width:0.92rem  /* 69/75 */;height:0.4rem  /* 30/75 */;background: #ae9469; border-radius: 0.133rem  /* 10/75 */;font-size:0.267rem; }



.i-bg1 .content-bottom-box {width:8.093rem  /* 605/75 */;height:0.4rem  /* 30/75 */;background-size: 8.093rem 0.4rem; margin-bottom:1.4rem  /* 105/75 */;}


.p-bg1 { width:100%;height:100%  /* 1334/75 */;background-position: bottom center; background: #cfcfcf url("../images/bg.jpg") no-repeat bottom center;
 background-size: 100%;overflow-y:scroll; }
.p-bg1 .scroll-box{width:10rem  /* 750/75 */;height:16.373rem  /* 1228/75 */;margin:0 auto;position: absolute;
 top: 50%;
 left: 50%;  margin-left:-5rem;margin-top:-8.187rem  /* -614/75 */;}
.p-bg1 .scroll-box .pList-box{width:7.933rem  /* 595/75 */;height:12.667rem  /* 950/75 */;margin:2.333rem  auto;  /* 175/75 */  /* 210/75 */;}
.p-bg1 .scroll-box .pList-box li{width:6.133rem ;padding-left:1.8rem  /* 135/75 */;
 height:1.133rem  /* 85/75 */;margin-bottom:0.133rem  /* 10/75 */;line-height: 1.133rem  /* 85/75 */;}
.p-bg1 .scroll-box .pList-box li div{float:left}
.p-bg1 .scroll-box .pList-box li .box1{padding:0.173rem  /* 13/75 */ 0;}
.p-bg1 .scroll-box .pList-box li .box2{width:1.333rem  /* 100/75 */;height:1.133rem  /* 85/75 */;padding-left:0.533rem  /* 40/75 */;
font-size:0.267rem;}
.p-bg1 .scroll-box .pList-box li .box3{margin-top: 0.4rem  /* 33/75 */;width:2.667rem;}
.p-bg1 .scroll-box .pList-box li .box4{margin-left: 0.075rem  /* 33/75 */;}
.toux{width:0.8rem  /* 60/75 */;height:0.8rem  /* 60/75 */;border-radius: 0.067rem;float: left;}
.nich{width:1.6rem  /* 120/75 */;font-size:0.267rem  /* 20/75 */;float:left;}
.jidu{width:2.667rem  /* 200/75 */;height:0.267rem  /* 20/75 */;float:right;border-radius: 0.133rem  /* 10/75 */;background-image: linear-gradient(to right, #b89e71 , #7b6341);}
.zanImg{width:0.493rem  /* 37/75 */;height:0.44rem  /* 33/75 */;margin-top: -0.2rem;}
